.DS_Store
.theos/_/DEBIAN/control
.theos/_/Library/MobileSubstrate/DynamicLibraries/VCamMJPEG.dylib
.theos/_/Library/MobileSubstrate/DynamicLibraries/VCamMJPEG.plist
.theos/build_session
.theos/fakeroot
.theos/last_package
.theos/obj/debug/.stamp
.theos/obj/debug/arm64/logger.m.31727152.o
.theos/obj/debug/arm64/logger.m.31727152.Td
.theos/obj/debug/arm64/Tweak.xm.31727152.o
.theos/obj/debug/arm64/Tweak.xm.31727152.Td
.theos/obj/debug/arm64/VCamMJPEG.dylib
.theos/obj/debug/arm64/VCamMJPEG.dylib.dSYM/Contents/Info.plist
.theos/obj/debug/arm64/VCamMJPEG.dylib.dSYM/Contents/Resources/DWARF/VCamMJPEG.dylib
.theos/obj/debug/arm64e/logger.m.5435171a.o
.theos/obj/debug/arm64e/logger.m.5435171a.Td
.theos/obj/debug/arm64e/Tweak.xm.5435171a.o
.theos/obj/debug/arm64e/Tweak.xm.5435171a.Td
.theos/obj/debug/arm64e/VCamMJPEG.dylib
.theos/obj/debug/arm64e/VCamMJPEG.dylib.dSYM/Contents/Info.plist
.theos/obj/debug/arm64e/VCamMJPEG.dylib.dSYM/Contents/Resources/DWARF/VCamMJPEG.dylib
.theos/obj/debug/VCamMJPEG.dylib
.theos/packages/com.virtualcam.mjpegcameratweak-0.1.0
